In [49]:
import pandas as pd
import numpy as np

#### Question 1 - Pandas version

In [2]:
pd.__version__

'2.2.2'

#### Question 2 -  Records count

In [3]:
df = pd.read_csv('laptops.csv')

In [5]:
# Number of records

df.shape[0]

2160

#### Question 3 - Laptop brands

In [6]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [7]:
df['Brand'].nunique()

27

#### Question 4 - Missing values

In [9]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

#### Question 5 - Maximum final price for Dell notebooks

In [12]:
df[df['Brand']=='Dell']['Final Price'].max()

3936.0

#### Question 6 - Median value of Screen

In [18]:
# 1) Find the median value of Screen column in the dataset.

median = df['Screen'].median()
print(median)

15.6

In [33]:
# 2) Next, calculate the most frequent value of the same Screen column.

most_frequent = df['Screen'].mode()
print(most_frequent)

0    15.6
Name: Screen, dtype: float64

In [34]:
print(most_frequent[0])

15.6

In [35]:
# 3) Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

df['Screen'].fillna(df['Screen'].mode()[0], inplace=True)

/var/folders/77/3mj6vz6s23v2s9lppjx5b_lh0000gn/T/ipykernel_77502/3867244250.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Screen'].fillna(df['Screen'].mode()[0], inplace=True)

In [36]:
df.fillna({df['Screen']: most_frequent[0]}, inplace=True)

TypeError: unhashable type: 'Series'

In [37]:
most_frequent = most_frequent[0]

most_frequent

15.6

In [38]:
df.fillna({'Screen': most_frequent}, inplace=True)

In [39]:
df['Screen'].isnull().sum()

0

In [41]:
# 4) Now, calculate the median value of Screen once again.

median_v2 = df['Screen'].median()
print(median_v2)

15.6

In [42]:
## The median has not changed

#### Question 7 - Sum of weights

In [43]:
# 1) Select all the "Innjoo" laptops from the dataset.

df_Innjoo = df[df["Brand"]== 'Innjoo']

df_Innjoo

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [48]:
# 2) Select only columns RAM, Storage, Screen

df_Innjoo = df_Innjoo[["RAM","Storage","Screen"]]

df_Innjoo

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [50]:
# 3) Get the underlying NumPy array. Let's call it X.

X = np.array(df_Innjoo.values)
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [54]:
# 4) Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

XTX = np.dot(X.T,X)
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [55]:
# 5) Compute the inverse of XTX

XTX_inverse = np.linalg.inv(XTX)
XTX_inverse

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [56]:
# 6) Create an array y with values [1100, 1300, 800, 900, 1000, 1100]

y = np.array([1100, 1300, 800, 900, 1000, 1100])
y

array([1100, 1300,  800,  900, 1000, 1100])

In [57]:
# 7) Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w

XTX_inverse_XT = np.dot(XTX_inverse,X.T)

w = np.dot(XTX_inverse_XT,y)

w

array([45.58076606,  0.42783519, 45.29127938])

In [60]:
# 8) What's the sum of all the elements of the result?

w_sum = sum(w)

w_sum

91.2998806299557